* {
    color: rgb(red, green, blue);
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d6d9dc;
    flex-flow: wrap;
    padding: 0px;
    margin:0px;
}

 .header  .right-side  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.left-side {
    width: fit-content;
}

.right-side {
    display: flex;
    justify-content: end;
    align-items: center;
    width: fit-content;
    padding: 10px;
}

body {
    height: 100vh;
}

.header {
    border: 1px solid green;
}

.quicklinks {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    gap: 2em;
}

#progress,
#chapters,
#projects {
    border: 1px solid rgb(12, 161, 62);
    display: flex;
}

.pagesBox {
    border: 1px solid rgb(152, 170, 69);
    display: flex;
    justify-content: center;
    gap:2em;
    width: 100%;
}

.pages {
    border: 1px solid red;
    display: flex;
    flex-flow: row;
}


.pages {
    margin: 20px;
    background-color: #FFFFFF;
    border: 1px solid rgb(209, 213, 219);
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: #111827;
    font-family:'Times New Roman', Times, serif ;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: 0.75rem 1rem;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    touch-action: manipulation;
}

.pages:hover {
    background-color: rgb(249, 250, 251);
}

.pages:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.pages:focus-visible {
    box-shadow: none;
}

footer {
    display: flex;
    justify-content: center;
}